<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
</test>     
  <test name="ServiceTestCases">    
    <parameter name="name" value="Anu"/>
    <parameter name="name" value="123456"/>
    <parameter name="name" value=" "/>
    <parameter name="name" value="ABCDE"/>
    <parameter name="name" value="uma"/>
    <parameter name="name" value="abc1234"/>
    <parameter name="name" value="ab@!#efg"/>
    <classes>
       <class name="Test2.ServiceTestCases"/>
    </classes>
    </test>
  <test thread-count="5" name="Test">
  </test> 
</suite> 
